// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

.comment-input {
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid lightgray;
  width: 100%;
  margin: 20px 0px;
  transition: border-bottom 0.5s;
}

.comment-input-red {
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid red;
  width: 100%;
  margin: 20px 0px;
  transition: border-bottom 0.5s;
}

.comment-input:focus {
  border-bottom: 1px solid black;
  transition: border-bottom 0.5s;
}

.comment-list {
  width: 70%;
}

.comment {
  margin: 15px 0px;
}

.author-age {
  display: flex;
}

.comment-author {
  margin-right: 15px;
  font-weight: 600;
}

.comment-age {
  color: #747474;
}

.comment-body {
  margin: 5px 0px;
}

.edit-comment {
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 5px 0px;
  transition: background-color 0.5s;
}

.edit-comment:hover {
  background-color: #7F7F7F;
  transition: background-color 0.5s;
}

.submit-comment {
  display: flex;
  align-self: flex-end;
  background-color: #1A73E8;
  color: white;
  padding: 10px;
  border-radius: 12px;
  font-weight: 600;
  transition: color 0.5s, background-color 0.5s;
}

.submit-comment:disabled,
 .submit-comment:disabled:hover {
  cursor: not-allowed;
  background-color: #1a73e86b;
  color: white;
}

.submit-comment:hover {
  color: skyblue;
  background-color: #1063d1;
  transition: color 0.5s, background-color 0.5s;
}

.cancel-comment {
  display: flex;
  align-self: flex-end;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.5s;
}

.cancel-comment:hover {
  background-color: #7F7F7F;
  transition: background-color 0.5s;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.comment-error {
  color: red;
}

.delete-comment {
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 5px 0px;
  transition: background-color 0.5s, color 0.3s;
}

.delete-comment:hover {
  background-color: red;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.comment-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-icon {
  margin: 0 20px 0 0;
  position: relative;
  top: 15px;
}
