.hamburger-line-original {
  border: 1px solid #b9b9b9;
  width: 25px;
  border-radius: 5px;
  margin: 5px 0px;
  position: relative;
}

.hamburger-line-darkened {
  border: 1px solid #807f7f;
  width: 25px;
  border-radius: 5px;
  margin: 5px 0px;
  position: relative;
}

.navbar-hamburger-button {
  position: relative;
  top: -12px;
  left: -40px;
}

.dropdown-hamburger-button {
  position: relative;
  right: 39px;
  bottom: 12px;
}

.clickable-area {
  cursor: pointer;
  height: 22px;
  position: relative;
  width: 29px;
  top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.clickable-area:active {
// animation ideas
}
