#navbar {
  display: flex;
  height: 56px;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 2px 3px #efefef;
  background-color: white;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  padding: 0px 25px;
  z-index: 1;
}

.main-hambuger-logo {
  display: flex;
  align-items: center;
  margin: initial;
}

.user-button {
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}
