#navbar {
  display: flex;
  height: 56px;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 2px 3px #efefef;
  background-color: white;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  padding: 0px 25px;
  z-index: 5;
}

.main-hambuger-logo {
  display: flex;
  align-items: center;
  margin: initial;
}

.user-button {
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.logo {
  background-image: image-url('u2bicon.png');
  width: 75px;
  height: 44px;
  background-size: 65px 43px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.mini-modal {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  height: 60px;
  width: 100%;
  right: 0px;
}

.mini-clear-modal {
  position: absolute;
  z-index: 3;
  background-color: transparent;
  height: 60px;
  width: 100%;
  right: 0px;
}
