#navbar {
  display: flex;
  height: 56px;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 2px 3px #efefef;
  background-color: white;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  padding: 0px 25px;
}

.main-hambuger-logo {
  display: flex;
  align-items: center;
  margin: initial;
}

.user-button {
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-dropdown {
  position: fixed;
  box-shadow: 0px 0px 8px 2px #efefef;
  top: 48px;
  right: 35px;
  padding-top: 15px;
  background: white;
}

.register {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  color: #1A73E8;
}
