.search-result-video {

}

.searchlink-to-video {
  display: flex;
  margin-bottom: 30px;
  width: 990px;
}

.search-thumbnail {
  min-width: 236px;
  min-height: 135px;
  margin-right: 20px;
  max-width: 235px;
  max-height: 135px;
}

.search-info {
  width: 75%;
}

.search-title {
  font-weight: 700;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-description {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  color: #777777;
}
.search-description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
  color: #777777;
}
.search-description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #FAFAFA;
}

.uploader-views-age {
  display: flex;
  color: #5F5E5E;
}

.point-divider {
  margin: 0px 7px;
  position: relative;
  top: 3px;
  font-weight: 600;
  font-size: 30px;
  line-height: 0;
}

.to-video {
  min-width: 991px;
  min-height: 136px;
  max-width: 991px;
  max-height: 136px;
  position: absolute;
  z-index: 1;
}

.to-profile {
  position: relative;
  z-index: 2;
}

.search-uploader:hover {
  color: black;
}
