.search-bar {
  width: 625px;
  display: flex;
  height: 31px;
  align-self: center;
  border: 0.5px solid #7f7f7f;
}

.search-input {
  width: 93%;
  box-shadow: inset 0px 0px 10px 1px lightgrey;
  padding: 13px;
  height: 29px;
  position: relative;
  top: 1px;
  transition: border 0.5s;
}

.search-input:focus {
  border: 1px solid #1a73e7;
  transition: border 0.5s;
}

.search-submit {
  border-left: 0.5px solid #7f7f7f;
  height: 29px;
  width: 58px;
  background-color: #f8f8f8;
  position: relative;
  top: 1px;
  left: -1px;
}

.glass {
  border: 2px solid #7f7f7f;
  border-radius: 8px;
  height: 14px;
  width: 14px;
  position: relative;
  top: -1px;
  left: 16px;
}

.handle {
  border: 1px solid #7f7f7f;
  width: 7px;
  transform: rotate(45deg);
  position: relative;
  left: 26px;
  top: -1px;
}
