.video {
  width: 70%;
  padding-right: 40px;
}

.playing-video {
  width: 100%;
  max-height: 45%;
}

.divider {
  border-top: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
  padding: 30px 0px;
}

.uploader {
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
}

.to-uploader-profile {
}

.date {
  font-size: 15px;
  color: #787878;
}

.description {
  margin-top: 30px;
  max-height: 150px;
  overflow: auto;
}

.video-and-related {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 80px;
  margin-left: 60px;
}

.related-image {
  width: 168px;
  height: 94px;
  margin-right: 10px;
}

.related-title {
  width: 168px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.related-video-list {
}

.related-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.related-uploader,
.related-views {
  color: #757575;
}

.uploader-thumbnail-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upload-info {
  display: flex;
  flex-direction: row;
}

.uploader-thumbnail {
  margin: 0;
  margin-right: 20px;
}

.uploader-date {
  display: flex;
  flex-direction: column;
}

.subscribe-button {
  padding: 10px 12px;
  background: #FF0000;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
}

.subscribed-button {
  padding: 10px 12px;
  background: #EDEDEE;
  color: #7E7E7E;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
}

.edit-video-button {
  padding: 10px 12px;
  background: #1A73E8;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
}

.subscribe-button:active {
  background: #d30404;
}

.subscribed-button:active {
  background: #d0d0d3;
}

.edit-video-button:active {
  background: #185ab2;
}
