.title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 13px;
}

.title-area {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.likes-and-views {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.like {
  display: flex;
  flex-direction: column;
}

.like-area,
.dislike-area {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  align-items: center;
}

.like-count {
  position: relative;
  left: -3px;
}

.dislike-count {}

.add-like {
  margin: 0px;
  cursor: pointer;
  padding-left: 6px;
}

.add-dislike {
  margin: 0px;
  cursor: pointer;
  padding-right: 6px;
}
