.upload-area {
  cursor: pointer;
  box-shadow: 0px 0px 16px 2px lightgrey;
  padding: 13% 22%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: white;
  min-width: 115px;
}

.hidden-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pointer {
  border-bottom: 59px solid white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  align-self: center;
  z-index: 2;
}

.arrow-body {
  border: 1px solid white;
  height: 50px;
  position: relative;
  width: 40px;
  align-self: center;
  background: white;
  top: -5px;
  z-index: 2;
}

.border-unhovered {
  background-color: lightgray;
  position: relative;
  height: 135px;
  width: 170px;
  align-self: center;
  bottom: 140px;
  border-radius: 47px;
}

.border-hovered {
  background-image: linear-gradient(red, black);
  position: relative;
  height: 135px;
  width: 170px;
  align-self: center;
  bottom: 140px;
  border-radius: 47px;
}

.upload-message {
  width: 300%;
  text-align: center;
  align-self: center;
  font-size: 24px;
  line-height: 1px;
}

.full-video-form {
  box-shadow: 0px 0px 16px 2px lightgrey;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: white;
  height: 215px;
  width: 960px;
}

.video-and-form {
  width: 100%;
  display: flex;
}

.video-form {
  width: 65%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.video-image {
  margin-top: 4%;
}

.title-input {
  border: 1px solid #7F7F7F;
  width: 450px;
  margin-bottom: 21px;
}

.description-input {
  border: 1px solid #7F7F7F;
  max-width: 450px;
  max-height: 120px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 35px;
}

.submit-video {
  background-color: #1A73E8;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 105px;
  text-align: center;
  font-weight: 600;
  margin-right: 30px;
}

.submit-video:disabled {
  background-color: grey;
  cursor: not-allowed;
  background-image: image-url('loading.gif');
  background-size: cover;
  background-position-y: center;
}

.title-error {
  position: relative;
  font-size: 13px;
  line-height: 0;
  bottom: 10px;
  color: #ac0f0f;
}

.description-error {
  position: relative;
  font-size: 13px;
  line-height: 0;
  bottom: 10px;
  color: #ac0f0f;
}

.upload-error {
  color: #ac0f0f;
  text-align: center;
  position: relative;
  font-size: 25px;
  font-weight: 700;
}
