.upload-area {
  cursor: pointer;
  box-shadow: 0px 0px 16px 2px lightgrey;
  padding: 13% 22%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: white;
}

.hidden-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pointer {
  border-bottom: 59px solid white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  align-self: center;
  z-index: 2;
}

.arrow-body {
  border: 1px solid white;
  height: 50px;
  position: relative;
  width: 40px;
  align-self: center;
  background: white;
  top: -5px;
  z-index: 2;
}

.border-unhovered {
  background-color: lightgray;
  position: relative;
  height: 135px;
  width: 170px;
  align-self: center;
  bottom: 140px;
  border-radius: 47px;
}

.border-hovered {
  background-image: linear-gradient(red, black);
  position: relative;
  height: 135px;
  width: 170px;
  align-self: center;
  bottom: 140px;
  border-radius: 47px;
}

.upload-message {
  width: 300%;
  text-align: center;
  align-self: center;
  font-size: 24px;
  line-height: 1px;
}

.full-video-form {
  box-shadow: 0px 0px 16px 2px lightgrey;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: white;
  height: 700px;
}

.video-and-form {
  width: 100%;
  display: flex;
}

.video-form {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.video-image {
  margin-top: 4%;
}

.title-input {
  border: 1px solid #7F7F7F;
}

.description-input {
  border: 1px solid #7F7F7F;
}
