.mini-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  font-weight: 600;
  font-size: 15px;
}

.minimised-video {
  margin: 0px 18px;
  z-index: 1;
}

.mini-uploader {
  font-size: 14px;
  color: #757575;
}

.mini-uploader:hover {
  color: #545454;
}

.mini-age, .mini-views {
  font-size: 14px;
  color: #757575;
}

.mini-divider {
  margin: 0px 6px;
  font-size: 30px;
  line-height: 0;
  color: #757575;
}

.mini-divider {

}

.video-to-profile {
  z-index: 2;
}

.video-thumbnail {
  width: 210px;
  height: 118px;
}

.videos-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid lightgrey;
  padding-top: 15px;
}

.group-title {
  font-size: 18px;
  font-weight: 700;
  margin: 14px 0px;
}

.list-panel {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  margin: 0 auto;
}

.user-video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uploader-name {
  font-size: 20px;
  padding: 10px 17px;
  font-weight: 600;
}

.uploader-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
