.greeting {
  font-weight: 600;
  font-size: 60px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.mini-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  font-weight: 600;
  font-size: 15px;
}

.minimised-video {
  margin: 0px 18px;
  z-index: 1;
}

.mini-uploader {
  font-size: 14px;
  color: #757575;
}

.mini-uploader:hover {
  color: #545454;
}

.mini-age, .mini-views {
  font-size: 14px;
  color: #757575;
}

.mini-divider {
  margin: 0px 6px;
  font-size: 30px;
  line-height: 0;
  color: #757575;
}

.mini-divider {

}

.video-to-profile {
  z-index: 2;
}

.video-thumbnail {
  width: 210px;
  height: 118px;
}
